<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header" />
<body>
<div th:replace="base :: navlinks" />
<main role="main" class="container">
    <div class="jumbotron">
        <h1 class="display-1 text-center title">How to make a caipirinha</h1>
        <hr />
        <h4>The caipirinha (kai-per-REEN-ya), made from cachaça, lime, and sugar, is Brazil’s national cocktail. Try one, and you’ll see why. The liquor used – cachaça (ka-SHAH-suh) – is distilled form sugarcane juice, giving it a fresh, earthy flavor that sets the caipirinha apart from the similar daiquiri, which is made with rum. And the basic recipe for the caipirinha can be easily varied to create a dizzying number of delicious mixed drinks.</h4>
        <br />
        <img src="https://res.cloudinary.com/dtudwqsqx/image/upload/c_scale,h_409/v1569437068/ingredients_caipirinha_tdawdx.webp" alt="Caipirinha ingredients">
        <br />
        <h6>Ingredients</h6>
        <ul>
            <li>2-4 lime wedges (to taste)</li>
            <li>1-2 teaspoons sugar (to taste)</li>
            <li>1 cup of crushed or cubed ice</li>
            <li>1.5-2.5 oz. of cachaça (to taste)</li>
        </ul>
        <h6>Directions</h6>
        <ol>
            <li>Slice your lime. Cut it in half, then into quarters. Use the slices from approximately one quarter of the lime in the drink – 3 to 4 slices. Brazilian recipes typically call for more lime: ½ to even a whole small lime. Adjust the amount to your taste.</li>
            <li>Put the limes and sugar in a glass. It is preferable to use a rocks glass (aka a lowball glass). Use 2 teaspoons of sugar for a sweeter drink, one for a drink with more of the cachaça flavor.</li>
            <li>Muddle the sugar and lime. Muddle them by pressing down and twisting repeatedly with a muddler – a long pestle shaped like a miniature baseball bat. Crush the limes just enough to release their juice. If you mash them too much, your drink will be bitter.</li>
            <li>Add the ice. Crushed ice is best, though cubed will work fine.</li>
            <li>Add the cachaça and stir. Recommendations from American bartenders range from 2 oz. (a little over a shot) for a sweeter, tarter drink, to 2.5 oz. (about two shots) for a stronger drink. Brazilian recipes, which are typically heavier on lime and lower on alcohol, usually call for 1.7oz (50ml).</li>
            <li>Serve with the lime wedges in the drink. Enjoy!</li>
        </ol>
        <img src="https://res.cloudinary.com/dtudwqsqx/image/upload/c_scale,h_448/v1569437147/caipirinha-6_uz0rrd.jpg" alt="Caipirinha">
    </div>
</main>
<div th:replace="base :: scripts" />

</body>
</html>