<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header" />
<body>
<div th:replace="base :: navlinks" />
<main role="main" class="container">
    <div class="jumbotron">
        <h1 class="display-1 text-center title">How to tie a tie</h1>
        <hr />
        <h4>Learn how to tie a tie: The Simple Oriental Knot:</h4>
        <br />
        <img src="https://res.cloudinary.com/dtudwqsqx/image/upload/c_scale,h_378/v1569434603/6-17-Oriental-Knot_k3zluc.jpg" alt="Oriental Knot">
        <ol>
            <li>Drape the tie around your collar with the seam facing inward and the thick end on your left, two or three inches lower than your desired finishing position.</li>
            <li>Bring the thick end horizontally across the front of the narrow end, and then pass it back horizontally behind the narrow end.</li>
            <li>Pass the thick end again across the front of the knot from left to right.</li>
            <li>Now pass the thick end again behind the knot horizontally from right to left.</li>
            <li>Pass the thick end AGAIN across the front of the knot from left to right. Slip a finger under this third horizontal loop.</li>
            <li>Bring the tip of the thick end up underneath the loop around your collar and feed it up behind the knot, down over the front of the knot and through that third horizontal loop.</li>
            <li>Pull the thick end through the horizontal loop and snug it down.</li>
            <li>Adjust the tie by holding the knot in one hand and pulling gently on the narrow end with the other.</li>
        </ol>
        <img src="https://res.cloudinary.com/dtudwqsqx/image/upload/c_scale,h_500/v1569434772/Necktie_Oriental_knot_jxiwvf.jpg" alt="Oriental Knot result">
    </div>
</main>
<div th:replace="base :: scripts" />

</body>
</html>